.grid-container
{
    display: grid;
    grid-template-columns: repeat(5, 1fr) repeat(1, 2fr) repeat(1, 0.3fr) repeat(1, 2fr) repeat(1, 0.3fr) repeat(1, 2fr) repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#grass1
{
    background-color: rgba(23, 175, 9, 0.785);
    height: 150px;
}

#grass2
{
    background-color: rgba(55, 216, 41, 0.785);
    height: 150px;
}

#line
{
    background-color: rgba(0, 0, 0, 0.785);
    height: 150px;
}

#inner-line
{
    background-color: rgba(0, 0, 0, 0.785);
    height: 75px;
    width: 5px;
}

.img
{
    width: 0px;
    height: 0px;
    object-fit: cover;
}

#imageMAIN
{
    margin: 0 auto;
    height: 130px;
}