.grid-container
{
    display: grid;
    grid-template-columns: repeat(5, 1fr) repeat(1, 2fr) repeat(1, 0.3fr) repeat(1, 2fr) repeat(1, 0.3fr) repeat(1, 2fr) repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.grid-container > div {
    flex: 1; /* Each div takes equal vertical space */
    width: 100%; /* Full width */
    position: relative;
}

.grass1, .Topgrass1, .Topgrass3, .Topgrass6, .Topgrass8
{
    background-color: rgba(23, 175, 9, 0.785);
    height: 150px;
    position: relative;
    justify-content: center;
    position: absolute;
}

.grass2, .Topgrass2, .Topgrass4, .Topgrass5, .Topgrass7
{
    background-color: rgba(55, 216, 41, 0.785);
    height: 150px;
    position: relative;
    justify-content: center;
    position: absolute;
}

#line
{
    background-color: rgb(104, 97, 97);
    height: 150px;
}

#inner-line
{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.785);
    height: 75px;
    width: 7px;
}

.img
{
    width: 0px;
    height: 0px;
    object-fit: cover;
}

#GameContainer {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
  }
  
  #ImageMain 
{
    position: absolute; /* Required for 'left' to work */
    top: 50%; /* Center vertically */
    left: 85px ; /* Start in the middle */
    transform: translate(-50%, -50%); /* Center the car */
    height: 115px;
    width: 55px;
    /* background-color: red;  */
    z-index: 1000000;
    background-color: red;
}

#RightLane, #MiddleLane, #LeftLane {
    position: relative; /* Required for child elements to move within */
    width: 200px; /* Each lane takes up one-third of the screen */
    height: 100%; /* Full height of the screen */
    float: left; /* Align lanes horizontally */
}

#inner-lane
{
    position: relative;
    width: 2fr;
    height: 2fr;
}

/* .TopRight
{
    border-top-right-radius: 15pt;
}

.BottumRight
{
    border-bottom-right-radius: 15pt;
}

.BottumLeft
{
    border-bottom-left-radius: 15pt;
} */

.TopLeft
{
    border-top-left-radius: 15pt;
}

.lane, #RightLane, #MiddleLane, #LeftLane
{
    background-color: white;
    justify-content: center;
}

body
{
    background-color: white;
}

#Car1
{
    margin: 0 auto;
    height: 120px;
    width: 120px;
    position: relative;
    background-color: red;
    
}

#tree1
{
    position: relative;
    width: 80px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    z-index: 100;
}

#drive
{
    position: relative;
    width: 2fr;
    height: 2fr;
    justify-content: center;
}

.FirstLane1, .SecondLane1, .ThirdLand1
{
    position: relative;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}